@import "../assets/colors.scss";

$wave-color: $primary-color;
$wave-height: 3rem;
$wave-high-opacity: 0.35;
$wave-low-opacity: 0.25;

// Normalize
html, body {
	min-height: 100vh;
	max-height: 100vh;
	min-width: 100vw;
	max-width: 100vw;
	margin: 0;
	padding: 0;
}

body {
	font-family: Poppins, sans-serif;
}

// Layout
#app {
	display: flex;
	flex-flow: column nowrap;
	min-height: inherit;

	header {
		flex: 0 1 auto;
	}

	main {
		flex: 1 0 auto;
	}
}

// Waves
.waves {
	position: relative;
	height: $wave-height;
	overflow: hidden;

	.wave-high, .wave-low {
		position: absolute;
		left: 0;
		right: 0;
		fill: $wave-color;

		@media (orientation: portrait) {
			bottom: 0;
		}

		@media (orientation: landscape) {
			top: 0;
		}
	}

	.wave-high {
		opacity: $wave-high-opacity;
	}

	.wave-low {
		opacity: $wave-low-opacity;
	}
}

// Content
.content {
	display: flex;
	flex-flow: row nowrap;
	background: linear-gradient(to bottom, rgba($wave-color, mix-opacity($wave-high-opacity, $wave-low-opacity)) 25%, $wave-color);
	padding: 0 1.5rem 3rem;

	article {
		position: relative;
		width: 100%;
	}
}
