@import "../assets/colors.scss";

// Navigation Menu
.nav-menu {
	padding: 0.5rem 0.5rem 0;

	// Navigation Bar
	.nav-menu-bar {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		height: 2rem;
		min-height: 2rem;

		// Title
		.nav-title {
			flex: 0 1 auto;
			font-weight: bold;
			font-size: 1.2rem;
			text-transform: uppercase;
		}

		// Action Bar
		.nav-action-bar {
			flex: 1 0 auto;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: flex-end;

			// Action Buttons
			.nav-action-button {

				// Last Action Button
				&:last-of-type {
					margin-right: 0;
				}
			}
		}

		// Action Buttons
		.nav-action-button {
			$nav-action-color: black;
			color: $nav-action-color;
			margin-right: 0.2rem;
			-webkit-tap-highlight-color: transparent;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			user-select: none;
			text-decoration: none;

			// Visited
			&:visited {
				color: $nav-action-color;
			}

			// Hover
			&:hover {
				color: $primary-color;
			}

			// Icon
			.material-symbols-outlined {
				vertical-align: sub;
			}

			// Title
			.title {
				font-size: 0.7rem;
				font-weight: lighter;
				text-transform: uppercase;
				vertical-align: text-top;
				margin-right: 0.5rem;
			}
		}
	}
}
