// Material Icons
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,200,0,0');

// Poppins
@font-face {
	font-family: 'Poppins';
	font-weight: normal;
	src: url('/assets/fonts/poppins/poppins-regular.ttf') format('truetype');
}

// Poppins Bold
@font-face {
	font-family: 'Poppins Bold';
	font-weight: bold;
	src: url('/assets/fonts/poppins/poppins-bold.ttf') format('truetype');
}

// Poppins Light
@font-face {
	font-family: 'Poppins Light';
	font-weight: lighter;
	src: url('/assets/fonts/poppins/poppins-light.ttf') format('truetype');
}
