<header class="nav-menu">

    @*Navigation Bar*@
    <div class="nav-menu-bar">

        @*Back Button*@
        <a class="nav-action-button" href="javascript:history.back()">
            <span class="material-symbols-outlined">arrow_back</span>
        </a>

        @*Page Title*@
        <span class="nav-title">Buddies</span>

        @*Action Bar*@
        <div class="nav-action-bar">

            @*Add Button*@
            <a class="nav-action-button" href="_blank">
                <span class="material-symbols-outlined">add</span>
                <span class="title">Add Log</span>
            </a>

            @*Settings Button*@
            <a class="nav-action-button" href="_blank">
                <span class="material-symbols-outlined">settings</span>
                <span class="title">Settings</span>
            </a>

        </div>
    </div>
</header>
