@using Buddies.Modules.ActionBar
@inject IActionBarServiceHandler Handler

<header class="nav-menu">

    @*Navigation Bar*@
    <div class="nav-menu-bar">

        @*Back Button*@
        <a class="nav-action-button" href="javascript:history.back()">
            <span class="material-symbols-outlined">arrow_back</span>
        </a>

        @*Page Title*@
        <span class="nav-title">Buddies</span>

        @*Action Bar*@
        <div class="nav-action-bar">

            @*Control Buttons*@
            @foreach (var control in Handler.Create().GetControls())
            {
                <a class="nav-action-button" href="_blank">
                    <span class="material-symbols-outlined">@control.Icon</span>
                    <span class="title">@control.Title</span>
                </a>
            }

        </div>
    </div>
</header>
