<header class="nav-menu">

    @*Navigation Bar*@
    <div class="nav-menu-bar">

        @*Back Button*@
        <a class="nav-back" href="_blank"></a>

        @*Page Title*@
        <span class="nav-title">Buddies</span>
    </div>
</header>
