// Carousel
.carousel {
	display: flex;
	flex-flow: row nowrap;
	overflow: scroll hidden;
	white-space: nowrap;
	scroll-snap-type: x mandatory;
	scroll-snap-stop: always;
	scroll-behavior: smooth;

	// Carousel Page
	.carousel-page {
		scroll-snap-align: center;
		min-width: 100%;
		max-width: 100%;
	}
}

// Carousel Indicators
.carousel-indicators {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	
	.material-symbols-outlined {
		font-size: 0.8rem;
	}
}
